# Node.js dependencies
node_modules/

# Environment variables
.env

# Puppeteer-related data and screenshots
puppeteer_data/
screenshots/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
*.code-workspace

# Temporary files
*.tmp
*.temp
*.log

# Build and cache directories
dist/
build/
.cache/
